{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "css/home.css" %}'>
{% endblock css %}

{% block title %}New Grade{% endblock %}


{% block content %}
<!-- Login head -->
<div class="container grade-container-dark rounded shadow p-5 grade-font-white my-4">
    <h3 class="display-4 font-weight-light">Edit grade</h3>
</div>

<!-- Login Form -->
<div class="container grade-container-dark rounded shadow p-5 grade-font-white font-weight-light">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<div class="text-right">
    <a href="{% url 'grade-delete' pk=grade.pk %}"
        class="btn btn-dark my-1 py-3 px-5 grade-font-white grade-container-dark rounded shadow font-weight-light">
        Delete this Grade
    </a>
</div>


{% endblock content %}