{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "css/home.css" %}'>
{% endblock css %}

{% block title %}New Gradebook{% endblock %}


{% block content %}
<!-- Login head -->
<div class="container grade-container-dark rounded shadow p-5 grade-font-white my-4">
    <h3 class="display-4 font-weight-light">Create a new Gradebook</h3>
</div>

<!-- Login Form -->
<div class="container grade-container-dark rounded shadow p-5 grade-font-white font-weight-light">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>


{% endblock content %}