{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "grade_app/css/home.css" %}'>
{% endblock css %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Welcome User container -->
<div class="container grade-container-dark my-4 p-5 rounded shadow">
    <div class="row align-items-center">
        <div class="col-md">
            <h1 class="grade-font-white font-weight-light" style="opacity: 0; transition: ease-in-out 2s;" id="hello-user-header">Hello,
                <span >
                    {{ request.user|title}}
                </span>
            </h1>
        </div>
        <div class="col-md text-md-right">
            <h2 id="time" class="grade-font-white font-weight-light" style="opacity: 0; transition: ease-in-out 2s;">
            </h2>
        </div>
    </div>
</div>
<!-- User Stats container -->
<div class="container grade-container-dark my-4 p-4 rounded shadow">
    <div class="row align-items-center justify-content-between">
        <div class="col-sm text-center m-2 border-sm-right border-sm-bottom">
            <h3 class="grade-font-white font-weight-light">Total Grades</h3>
            <h2 class="grade-font-white font-weight-light">{{ grades.count }}</h2>
        </div>
        <div class="col-sm text-center m-2 border-sm-right border-sm-bottom">
            <h3 class="grade-font-white font-weight-light">Average Grade</h3>
            <h2 class="grade-font-white font-weight-light">{{ average_grade|floatformat:2 }} </h2>
        </div>
        <div class="col-sm text-center m-2">
            <h3 class="grade-font-white font-weight-light">Total LP</h3>
            <h2 class="grade-font-white font-weight-light">{{ total_creditpoints }}</h2>
        </div>
    </div>
</div>

<!-- Gradebooks head -->
<div class="container grade-container-dark mt-4 p-4 rounded shadow">
    <h1 class="grade-font-white font-weight-light display-4">Gradebooks</h1>
</div>

<!-- Gradebooks container -->
{% for gradebook in gradebooks %}
<a href="{% url 'gradebook' pk=gradebook.pk %}" style="text-decoration: none !important">
    <div class="my-1 py-3 px-4 grade-font-white grade-container-dark rounded shadow">
        {{ gradebook.title }}
        <div class="float-right"> {{ gradebook.getGrades.count }} grades</div>
    </div>
</a>
{% endfor %}

<!-- Create Gradebook button -->
<div class="text-right">
    <a href="{% url 'gradebook-create' %}"
        class="btn btn-dark my-1 py-3 px-5 grade-font-white grade-container-dark rounded shadow font-weight-light">
        Create Gradebook
    </a>
</div>

{% if grades %}
<!-- All grades container -->
<div class="container grade-container-dark my-4 p-4 rounded shadow">
    <h4 class="grade-font-white font-weight-light text-md-right">List of all your grades</h4>

    <div class="container my-4">
        <!-- Grade list description -->
        <div class="row py-0 px-3">
            <div class="col-sm-8 p-0 d-none d-sm-block">
                <div class="grade-font-white-secondary font-weight-light p-0">Grade name</div>
            </div>
            <div class="col-sm-2 p-0 d-none d-sm-block">
                <div class="grade-font-white-secondary font-weight-light text-sm-right">Creditpoints</div>
            </div>
            <div class="col-sm-2 p-0 d-none d-sm-block">
                <div class="grade-font-white-secondary font-weight-light text-sm-right">Value</div>
            </div>
        </div>

        <!-- Gradelist -->
        {% for grade in grades %}
        <div class="row align-items-center grade-container-dark2 px-3 py-3 rounded my-1">
            <div class="col-sm-8 p-0">
                <div class="grade-font-white font-weight-light p-0">{{ grade.title }}</div>
            </div>
            <div class="col-sm-2 p-0">
                <div class="grade-font-white font-weight-light text-sm-right p-0">{{ grade.creditpoints }}LP</div>
            </div>
            <div class="col-sm-2 p-0">
                <div class="grade-font-white font-weight-light text-sm-right p-0">{{ grade.value }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock content %}

{% block js %}
<script>
    window.onload = init;
    function init() {
        hello_user = document.getElementById('hello-user-header');
        hello_user.style.opacity = 1;
        setTimeout(function () {
            time = document.getElementById('time');
            time.style.opacity = 1;
        }, 1000);
        startTime();
    }
    function checkTime(i) {
        return (i < 10) ? "0" + i : i;
    }
    function startTime() {
        var today = new Date(),
            h = checkTime(today.getHours()),
            m = checkTime(today.getMinutes()),
            s = checkTime(today.getSeconds());
        document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout(function () {
            startTime()
        }, 500);
    }
    
</script>
{% endblock js %}